#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if banner is defined %}
groups {
    mgmt {
        system {
            login {
                message "{{ banner | replace('\\', '\\\\') | replace('\n', '\\n') | replace('\'', '\\\'') }}";
            }
         }
    }
}
{% endif %}
{% if motd is defined %}
groups {
    mgmt {
        system {
            login {
                announcement "{{ motd | replace('\\', '\\\\') | replace('\n', '\\n') | replace('\'', '\\\'') }}";
            }
        }
    }
}
{% endif %}
